.main-header {
  background-color: #222;
  height: 46px;
  padding: 6px 18% 24px;
  color: white;
}

.main-logo {
  animation: main-logo-spin infinite 6s linear;
  padding-right: 14px;
  margin-top: 6px;
  height: 50px;
  float: left;
}

.main-title {
  padding-left: 1%;
  font-size: 2.0em;
  line-height: 60px;
  float: left;
}

@keyframes main-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-man {
  padding-left: 15px;
  height: 66px;
  float: right;
}

.pull-right {
  float: right;
  font-size: 1.16em;
}

.nav-info {
  margin: 0 15px;
  line-height: 66px;
  float: left;
}
